.image-container img {
    width: 325px;
    height: 450px;
}

.whole-content-container {
    display: flex;
}

.main-contnet-stuff {
    background-color: red;
    width: 65%;
    margin-left: 5%;
    margin-top: 3%;
}

.image-container {
    margin-top: 12%;
    margin-left: 20px;
}

.main-contnet-stuff p {
    padding-left: 3%;
    padding-right: 3%;
}

.main-contnet-stuff h1 {
    text-align: center;
}